@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overscroll-y-none dark:text-white dark:bg-gray-800 text-gray-800;
  }
}

@layer components {
  a {
    @apply underline;
  }

  h2 {
    @apply font-bold text-2xl mt-10;
  }

  details > summary {
    list-style-type: '';
  }

  details[open] > summary {
    list-style-type: '';
  }

  details[open] > summary:before {
    transform: rotate(90deg);
  }
}
