@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;

html {scroll-behavior: smooth;}

body {
    @apply antialiased text-gray-100 bg-gray-800 leading-relaxed;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}

a {
    @apply underline;
}

a:hover {
    @apply cursor-pointer;
}

h1 {
    @apply font-bold tracking-wide leading-loose text-3xl;
}

h2 {
    @apply mb-1 text-lg text-gray-200 font-bold;
}

h3 {
    @apply font-semibold text-gray-300;
}

article {
    @apply border-l-2 border-gray-700 pl-4 mb-4;
}

ul {
    @apply ml-6;
    list-style-type: "-  ";
}

div > p {
    /* to exclude article > p */
    @apply mb-3;
}

article > .dates {
    @apply text-xs uppercase tracking-wide;
}

article > .title, article > p > .title {
    @apply mt-1 text-gray-100;
}

.body {
    /* used by more than just article > .body */
    @apply text-gray-300 my-1 relative;
}

.footnotes {
    @apply text-xs text-gray-400;
}

nav > a,
nav > div > a {
    @apply block mr-3 no-underline transform hover:text-gray-300 transition;
}

@tailwind utilities;