@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;

html {scroll-behavior: smooth;}

body {
    @apply antialiased text-gray-100 bg-gray-800 leading-relaxed;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}

a {
    @apply underline;
}

h1 {
    @apply font-bold tracking-wide leading-loose text-3xl;
}

a:hover {
    @apply cursor-pointer;
}

div > p {
    @apply mb-4 relative;
}

article {
    @apply border-l-2 border-gray-700 pl-4 mb-4;
}

.list-dash {
    list-style-type: "-  ";
}

ul {
    @apply list-dash ml-6;
}

article > .dates {
    @apply text-xs uppercase tracking-wide;
}

article > .title, article > p > .title {
    @apply mt-1 text-gray-100;
}

.body {
    @apply text-gray-300 my-1 relative;
}

.footnotes {
    @apply text-xs text-gray-400;
}

.footer {
    @apply text-xs text-gray-600 mt-10;
}

@tailwind utilities;